@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{ 
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
     var root = CurrentPage.AncestorOrSelf(1);
}

<!-- uncomment this line if you don't want it to appear in the top navigation 
 <li class="nav-link @Html.Raw(Model.Content.Id == site.Id ? "menu-active" : "")"> <a  href="@site.Url">@site.Name</a></li>
@foreach (var item in selection)
{
   <li class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "menu-active" : null)" > <a href="@item.Url">@item.Name</a></li>
}
 -->
 

	<div class="main_menu menu_fixed">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<nav class="navbar navbar-default">
					   
					   <!-- Collect the nav links, forms, and other content for toggling -->
					   <div class="collapse navbar-collapse flt_left" id="navbar-collapse-1">
					     <ul class="nav navbar-nav">
					       <li><a class="transition-ease" href="@site.Url">@site.Name</a></li>
				 

@foreach (var item in selection)
{
 var hasSubMenu = item.Children.Where(x => x.IsVisible());
 if(hasSubMenu.Count()>0)
 {
   <li class="sub_dropdown"> <a href="@(item.Url)" class="transition-ease">@item.Name </a>
    
   	<ul class="sub_menu">
      @foreach (var subMenu in hasSubMenu)
     {
       <li>
         <a href="@subMenu.Url" class="transition-ease">
           @subMenu.Name
         </a>
       </li>
    } 
     </ul>
    </li> 
   
 
 } else {
  <li> <a href="@item.Url" class="transition-ease">@item.Name</a></li>
 }
   
} 
					   </div><!-- /.navbar-collapse -->
					   <!-- Brand and toggle get grouped for better mobile display -->
					   <div class="navbar-header">
					     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					       <span class="sr-only">Toggle navigation</span>
					       <span class="icon-bar"></span>
					       <span class="icon-bar"></span>
					       <span class="icon-bar"></span>
					     </button>
					   </div>
					  <!--  	<p class="navbar-text flt_left"><a href="tel: (800) 991-0238" class="transition4s"><i class="fa fa-phone"></i>(800)991-0238</a></p>
					   -->
					</nav> <!-- /navbar-default -->
				</div>
			</div> <!-- /row -->
		</div> <!-- /container -->
	</div> <!-- /main_menu -->
